*{
    margin: 0;
    padding: 0;
}
  
body{
    background-color: black;
    place-items: center;
    min-height: 100vh;
}
  
#grid-layout{

    width: 700px;
    height: 70vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'red red red red orange orange'
      'red red red red orange orange'
      'green green green ba ba ba'
      'green green green bb bb bb';
    ; 
    gap: 10px;
    padding: 10px;
    margin: auto;
    
}

main div{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10px; 
}

.red{
    background-color: red;
    grid-area: red;
}
.orange{
    background-color: orange;
    grid-area: orange;
}
  
.green{
    background-color: green;
    grid-area: green;
}
  
.blue-a{
    background-color: cyan;
    grid-area: ba;
} 
.blue-b{
    background-color: cyan;
    grid-area: bb;
}

