*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    background-color: hsl(0, 0%, 95%);
  }
  .flexbox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .box{
    border-radius: 3px;
    width: 300px;
    height: 500px;
    padding: 4.5rem;
  }
  .wrap{
    display: flex; 
    flex-direction: column; 
    padding: 40px 32px; 
    align-items: flex-start;
  }
  
  h3{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 15px;
    margin: 30px 10px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
  }
  
  p{
    color:  hsla(0, 0%, 100%, 0.75);
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
  }
  
  .sedan {
    background-color: hsl(31, 77%, 52%);
  }
  
  .suv {
    background-color: hsl(184, 100%, 22%);
  }
  
  .luxury {
    background-color: hsl(179, 100%, 13%);
  }
  
  .button{
    background-color: hsl(0, 0%, 95%);
    width: 150px;
    color: black;
    padding: 12px 30px;
    border-radius: 50px;
  } 
  
   a{
    width: auto;
    height: auto;
    border-radius: 51px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    display: flex-start;
  }
  @media only screen and (max-width: 1440px){
    html, body {
      height: auto;
    }
    flexbox{
      width: 80%;
      margin: 0 auto;
      flex-direction: colunm; 
    }
    
    p{
      margin: 0 auto;
  
    }
  }
  
  @media only screen and (max-width: 375px){
    html, body {
      height: auto;
    }
    flexbox{
      width: 80%;
      margin: 0 auto;
      flex-direction: column; 
    }
    
    p{
      margin: 0 auto;
  
    }
  }
  